<!DOCTYPE html>
<html lang="Pt-br">
<head>
        <base href="/">
    <link rel="stylesheet" href="css/login.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Login</title>

</head>
<body>
    <div class="gradient-overlay">
        <form method="POST" id="formulario-login">
            <div class="login">
                <p>Login:</p>
                <input type="email" name="email" placeholder="Email" >
            </div>
            <div class="password">
                <p>Senha:</p>
                <input type = "password" name="password" placeholder="password">
               
            </div>
             
            <button id = "botao1">Entrar</button>
            <p>Não tem login ainda? <a href="#" id="linkcadastrar">Cadastre-se</a></p>

            <input type="password" placeholder="passwords" style="display: none">
             <input type="login"  style="display: none">
        </form>

        



    </div>
    
</body>
</html>



